collatz.png
ANEWFILE_created_twice.php
/notes
cc.mpl
cc.cpp
mymacros.php
insert_cc_15-15-15_primes.sql
insert_cc_25-25-25_primes.sql
insert_cc_30-30-30_primes.sql
insert_cc_40-40-40_primes.sql
insert_cc_50-50-50.sql
test.mpl
testPolynomials.cpp