body    {background:black; color:white}

/* table, th, tr, td   { border:1px solid white } */

/* form    {
    display: inline-block;
    margin-left:10px; 
    background: #424756;
    border:1px solid black;
} */